In [1]:
pip install nltk

Requirement already satisfied: nltk in d:\personal projects\pyhon\movierecommendation\.venv\lib\site-packages (3.9.1)
Requirement already satisfied: click in d:\personal projects\pyhon\movierecommendation\.venv\lib\site-packages (from nltk) (8.2.1)
Requirement already satisfied: joblib in d:\personal projects\pyhon\movierecommendation\.venv\lib\site-packages (from nltk) (1.5.1)
Requirement already satisfied: regex>=2021.8.3 in d:\personal projects\pyhon\movierecommendation\.venv\lib\site-packages (from nltk) (2025.7.34)
Requirement already satisfied: tqdm in d:\personal projects\pyhon\movierecommendation\.venv\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in d:\personal projects\pyhon\movierecommendation\.venv\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in d:\personal projects\pyhon\movierecommendation\.venv\lib\site-packages (1.7.1)
Requirement already satisfied: numpy>=1.22.0 in d:\personal projects\pyhon\movierecommendation\.venv\lib\site-packages (from scikit-learn) (2.3.2)
Requirement already satisfied: scipy>=1.8.0 in d:\personal projects\pyhon\movierecommendation\.venv\lib\site-packages (from scikit-learn) (1.16.1)
Requirement already satisfied: joblib>=1.2.0 in d:\personal projects\pyhon\movierecommendation\.venv\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\personal projects\pyhon\movierecommendation\.venv\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pandas

Requirement already satisfied: pandas in d:\personal projects\pyhon\movierecommendation\.venv\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in d:\personal projects\pyhon\movierecommendation\.venv\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\personal projects\pyhon\movierecommendation\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\personal projects\pyhon\movierecommendation\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\personal projects\pyhon\movierecommendation\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in d:\personal projects\pyhon\movierecommendation\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction import text
from sklearn.metrics.pairwise import cosine_similarity

In [5]:
netflix_df = pd.read_csv("netflixData.csv")
print(netflix_df.head())

                                Show Id                          Title  \
0  cc1b6ed9-cf9e-4057-8303-34577fb54477                       (Un)Well
1  e2ef4e91-fb25-42ab-b485-be8e3b23dedb                         #Alive
2  b01b73b7-81f6-47a7-86d8-acb63080d525  #AnneFrank - Parallel Stories
3  b6611af0-f53c-4a08-9ffa-9716dc57eb9c                       #blackAF
4  7f2d4170-bab8-4d75-adc2-197f7124c070               #cats_the_mewvie

                                         Description  \
0  This docuseries takes a deep dive into the luc...
1  As a grisly virus rampages a city, a lone man ...
2  Through her diary, Anne Frank's story is retol...
3  Kenya Barris and his family navigate relations...
4  This pawesome documentary explores how our fel...

                      Director  \
0                          NaN
1                       Cho Il
2  Sabina Fedeli, Anna Migotto
3                          NaN
4             Michael Margolis

                                           Genres  \
0                                      Reality TV
1  Horror Movies, International Movies, Thrillers
2             Documentaries, International Movies
3                                     TV Comedies
4             Documentaries, International Movies

                                                Cast Production Country  \
0                                                NaN      United States
1                           Yoo Ah-in, Park Shin-hye        South Korea
2                        Helen Mirren, Gengher Gatti              Italy
3  Kenya Barris, Rashida Jones, Iman Benson, Genn...      United States
4                                                NaN             Canada

   Release Date Rating  Duration Imdb Score Content Type         Date Added
0        2020.0  TV-MA  1 Season     6.6/10      TV Show                NaN
1        2020.0  TV-MA    99 min     6.2/10        Movie  September 8, 2020
2        2019.0  TV-14    95 min     6.4/10        Movie       July 1, 2020
3        2020.0  TV-MA  1 Season     6.6/10      TV Show                NaN
4        2020.0  TV-14    90 min     5.1/10        Movie   February 5, 2020

In [6]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5967 entries, 0 to 5966
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Show Id             5967 non-null   object
 1   Title               5967 non-null   object
 2   Description         5967 non-null   object
 3   Director            3903 non-null   object
 4   Genres              5967 non-null   object
 5   Cast                5437 non-null   object
 6   Production Country  5408 non-null   object
 7   Release Date        5964 non-null   float64
 8   Rating              5963 non-null   object
 9   Duration            5964 non-null   object
 10  Imdb Score          5359 non-null   object
 11  Content Type        5967 non-null   object
 12  Date Added          4632 non-null   object
dtypes: float64(1), object(12)
memory usage: 606.2+ KB

In [7]:
print(netflix_df.isnull())

      Show Id  Title  Description  Director  Genres   Cast  \
0       False  False        False      True   False   True
1       False  False        False     False   False  False
2       False  False        False     False   False  False
3       False  False        False      True   False  False
4       False  False        False     False   False   True
...       ...    ...          ...       ...     ...    ...
5962    False  False        False     False   False  False
5963    False  False        False      True   False  False
5964    False  False        False      True   False  False
5965    False  False        False     False   False  False
5966    False  False        False     False   False  False

      Production Country  Release Date  Rating  Duration  Imdb Score  \
0                  False         False   False     False       False
1                  False         False   False     False       False
2                  False         False   False     False       False
3                  False         False   False     False       False
4                  False         False   False     False       False
...                  ...           ...     ...       ...         ...
5962               False         False   False     False       False
5963                True         False   False     False        True
5964                True         False   False     False        True
5965               False         False   False     False       False
5966                True         False   False     False       False

      Content Type  Date Added
0            False        True
1            False       False
2            False       False
3            False        True
4            False       False
...            ...         ...
5962         False       False
5963         False        True
5964         False        True
5965         False       False
5966         False       False

[5967 rows x 13 columns]

In [8]:
print(netflix_df.isnull().sum())

Show Id                  0
Title                    0
Description              0
Director              2064
Genres                   0
Cast                   530
Production Country     559
Release Date             3
Rating                   4
Duration                 3
Imdb Score             608
Content Type             0
Date Added            1335
dtype: int64

In [9]:
required_nf_df = netflix_df[["Title", "Description", "Content Type", "Genres",]]

required_nf_df.head()

,Title,Description,Content Type,Genres
0,(Un)Well,This docuseries takes a deep dive into the luc...,TV Show,Reality TV
1,#Alive,"As a grisly virus rampages a city, a lone man ...",Movie,"Horror Movies, International Movies, Thrillers"
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...",Movie,"Documentaries, International Movies"
3,#blackAF,Kenya Barris and his family navigate relations...,TV Show,TV Comedies
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,Movie,"Documentaries, International Movies"

In [10]:
required_nf_df.dropna()

,Title,Description,Content Type,Genres
0,(Un)Well,This docuseries takes a deep dive into the luc...,TV Show,Reality TV
1,#Alive,"As a grisly virus rampages a city, a lone man ...",Movie,"Horror Movies, International Movies, Thrillers"
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...",Movie,"Documentaries, International Movies"
3,#blackAF,Kenya Barris and his family navigate relations...,TV Show,TV Comedies
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,Movie,"Documentaries, International Movies"
...,...,...,...,...
5962,الف مبروك,"On his wedding day, an arrogant, greedy accoun...",Movie,"Comedies, Dramas, International Movies"
5963,دفعة القاهرة,A group of women leaves Kuwait to attend unive...,TV Show,"International TV Shows, TV Dramas"
5964,海的儿子,"Two brothers start a new life in Singapore, wh...",TV Show,"International TV Shows, TV Dramas"
5965,반드시 잡는다,After people in his town start turning up dead...,Movie,"Dramas, International Movies, Thrillers"
5966,최강전사 미니특공대 : 영웅의 탄생,"Miniforce, a special task force of elite range...",Movie,Children & Family Movies

In [11]:
required_nf_df.count()

Title           5967
Description     5967
Content Type    5967
Genres          5967
dtype: int64

In [12]:
import nltk

In [13]:
nltk.download('stopwords')
stemmer= nltk.SnowballStemmer("english")
from nltk.corpus import stopwords
import string
stopword = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\jacke\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [14]:
import re

def clean(text):
    text = str(text).lower()
    text = re.sub('\[.*?\]','',text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '',text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = [word for word in text.split(' ') if word not in stopword]
    text = " ".join(text)
    text = [stemmer.stem(word) for word in text.split()]
    text = " ".join(text)
    return text

<>:5: SyntaxWarning: invalid escape sequence '\['
<>:6: SyntaxWarning: invalid escape sequence '\S'
<>:10: SyntaxWarning: invalid escape sequence '\w'
<>:5: SyntaxWarning: invalid escape sequence '\['
<>:6: SyntaxWarning: invalid escape sequence '\S'
<>:10: SyntaxWarning: invalid escape sequence '\w'
C:\Users\jacke\AppData\Local\Temp\ipykernel_20128\3005009131.py:5: SyntaxWarning: invalid escape sequence '\['
  text = re.sub('\[.*?\]','',text)
C:\Users\jacke\AppData\Local\Temp\ipykernel_20128\3005009131.py:6: SyntaxWarning: invalid escape sequence '\S'
  text = re.sub('https?://\S+|www\.\S+', '', text)
C:\Users\jacke\AppData\Local\Temp\ipykernel_20128\3005009131.py:10: SyntaxWarning: invalid escape sequence '\w'
  text = re.sub('\w*\d\w*', '', text)

In [15]:
required_nf_df["Title"] = required_nf_df["Title"].apply(clean)

print(required_nf_df["Title"].head())

0                       unwel
1                        aliv
2    annefrank parallel stori
3                     blackaf
4                catsthemewvi
Name: Title, dtype: object

C:\Users\jacke\AppData\Local\Temp\ipykernel_20128\842742406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  required_nf_df["Title"] = required_nf_df["Title"].apply(clean)

In [16]:
print(required_nf_df.Title.sample(10))

3294                     mvp valentin
5570                     unabomb word
5653                 velvet colección
1391    dreamwork train dragon legend
3099        million dollar beach hous
840     bump mic jeff ross dave attel
1160                             cycl
5672        violet evergarden special
4592                thackeray marathi
565                           bayonet
Name: Title, dtype: object

In [18]:
genreList = required_nf_df["Genres"].tolist()
tfidf = text.TfidfVectorizer(stop_words="english")
tfidf_matrix = tfidf.fit_transform(genreList)
similarity = cosine_similarity(tfidf_matrix)

In [19]:
indices = pd.Series(required_nf_df.index, index = required_nf_df["Title"]).drop_duplicates()

In [20]:
def netflix_recommendation(title, similarity = similarity):
    index = indices[title]
    similarity_scores = list(enumerate(similarity[index]))
    similarity_scores = similarity_scores[0:10]
    movieindices =[i[0]for i in similarity_scores]
    return required_nf_df['Title'].iloc[movieindices]

In [22]:
print(netflix_recommendation("fitoor"))

0                       unwel
1                        aliv
2    annefrank parallel stori
3                     blackaf
4                catsthemewvi
5              friendbutmarri
6              friendbutmarri
7                 realityhigh
8
9                       selfi
Name: Title, dtype: object